* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  background-color: rgb(41, 42, 46);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  pointer-events: none;
}

.cursor {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.cursor::after,
.cursor::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 50%;
}

.cursor::before {
  background-color: rgb(83, 157, 253);
}

.cursor.click::before {
  animation: click 0.5s ease-in-out forwards;
}

@keyframes click {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(5);
  }
}
