* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  background-color: rgb(166, 181, 194);
}

section {
  min-width: 100vh;
  width: 100%;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container div {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.11);
}

.container div:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.32);
}

.container h2 {
  margin: 20px 0;
  font-size: 60px;
}

.arrow {
  background-color: transparent !important;
  padding: 0 100px !important;
  box-shadow: none !important;
  cursor: default !important;
}

.arrow img {
  width: 80px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(166, 181, 194);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.overlay.hide {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  .arrow {
    padding: 30px 0 !important;
    transform: rotate(90deg);
  }
}
